.header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
}

.background {
  height: 400px;
  width: 100%;
  background-image: url('About_ABES.webp');
  background-size:auto;
}
